img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
.wp-block-audio figcaption {
	color: #555;
	font-size: 13px;
	text-align: center;
}
.is-dark-theme .wp-block-audio figcaption {
	color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-audio {
	margin: 0 0 1em;
}
.wp-block-code {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: Menlo, Consolas, monaco, monospace;
	padding: 0.8em 1em;
}
.wp-block-embed figcaption {
	color: #555;
	font-size: 13px;
	text-align: center;
}
.is-dark-theme .wp-block-embed figcaption {
	color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-embed {
	margin: 0 0 1em;
}
.blocks-gallery-caption {
	color: #555;
	font-size: 13px;
	text-align: center;
}
.is-dark-theme .blocks-gallery-caption {
	color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-image figcaption {
	color: #555;
	font-size: 13px;
	text-align: center;
}
.is-dark-theme .wp-block-image figcaption {
	color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-image {
	margin: 0 0 1em;
}
.wp-block-pullquote {
	border-bottom: 4px solid;
	border-top: 4px solid;
	color: currentColor;
	margin-bottom: 1.75em;
}
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
	color: currentColor;
	font-size: 0.8125em;
	font-style: normal;
	text-transform: uppercase;
}
.wp-block-quote {
	border-left: 0.25em solid;
	margin: 0 0 1.75em;
	padding-left: 1em;
}
.wp-block-quote cite,
.wp-block-quote footer {
	color: currentColor;
	font-size: 0.8125em;
	font-style: normal;
	position: relative;
}
.wp-block-quote.has-text-align-right {
	border-left: none;
	border-right: 0.25em solid;
	padding-left: 0;
	padding-right: 1em;
}
.wp-block-quote.has-text-align-center {
	border: none;
	padding-left: 0;
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-plain {
	border: none;
}
.wp-block-search .wp-block-search__label {
	font-weight: 700;
}
.wp-block-search__button {
	border: 1px solid #ccc;
	padding: 0.375em 0.625em;
}
:where(.wp-block-group.has-background) {
	padding: 1.25em 2.375em;
}
.wp-block-separator.has-css-opacity {
	opacity: 0.4;
}
.wp-block-separator {
	border: none;
	border-bottom: 2px solid;
	margin-left: auto;
	margin-right: auto;
}
.wp-block-separator.has-alpha-channel-opacity {
	opacity: 1;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	width: 100px;
}
.wp-block-separator.has-background:not(.is-style-dots) {
	border-bottom: none;
	height: 1px;
}
.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
	height: 2px;
}
.wp-block-table {
	margin: 0 0 1em;
}
.wp-block-table td,
.wp-block-table th {
	word-break: normal;
}
.wp-block-table figcaption {
	color: #555;
	font-size: 13px;
	text-align: center;
}
.is-dark-theme .wp-block-table figcaption {
	color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-video figcaption {
	color: #555;
	font-size: 13px;
	text-align: center;
}
.is-dark-theme .wp-block-video figcaption {
	color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-video {
	margin: 0 0 1em;
}
.wp-block-template-part.has-background {
	margin-bottom: 0;
	margin-top: 0;
	padding: 1.25em 2.375em;
}

/*! This file is auto-generated */
.wp-block-button__link {
	color: #fff;
	background-color: #32373c;
	border-radius: 9999px;
	box-shadow: none;
	text-decoration: none;
	padding: calc(0.667em + 2px) calc(1.333em + 2px);
	font-size: 1.125em;
}
.wp-block-file__button {
	background: #32373c;
	color: #fff;
	text-decoration: none;
}

body {
	--wp--preset--color--black: #000000;
	--wp--preset--color--cyan-bluish-gray: #abb8c3;
	--wp--preset--color--white: #ffffff;
	--wp--preset--color--pale-pink: #f78da7;
	--wp--preset--color--vivid-red: #cf2e2e;
	--wp--preset--color--luminous-vivid-orange: #ff6900;
	--wp--preset--color--luminous-vivid-amber: #fcb900;
	--wp--preset--color--light-green-cyan: #7bdcb5;
	--wp--preset--color--vivid-green-cyan: #00d084;
	--wp--preset--color--pale-cyan-blue: #8ed1fc;
	--wp--preset--color--vivid-cyan-blue: #0693e3;
	--wp--preset--color--vivid-purple: #9b51e0;
	--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
	--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
	--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
	--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
	--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
	--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
	--wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
	--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
	--wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
	--wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
	--wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
	--wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
	--wp--preset--font-size--small: 13px;
	--wp--preset--font-size--medium: 20px;
	--wp--preset--font-size--large: 36px;
	--wp--preset--font-size--x-large: 42px;
	--wp--preset--spacing--20: 0.44rem;
	--wp--preset--spacing--30: 0.67rem;
	--wp--preset--spacing--40: 1rem;
	--wp--preset--spacing--50: 1.5rem;
	--wp--preset--spacing--60: 2.25rem;
	--wp--preset--spacing--70: 3.38rem;
	--wp--preset--spacing--80: 5.06rem;
	--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
	--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
	--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
	--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
	--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}
:where(.is-layout-flex) {
	gap: 0.5em;
}
:where(.is-layout-grid) {
	gap: 0.5em;
}
body .is-layout-flow > .alignleft {
	float: left;
	margin-inline-start: 0;
	margin-inline-end: 2em;
}
body .is-layout-flow > .alignright {
	float: right;
	margin-inline-start: 2em;
	margin-inline-end: 0;
}
body .is-layout-flow > .aligncenter {
	margin-left: auto !important;
	margin-right: auto !important;
}
body .is-layout-constrained > .alignleft {
	float: left;
	margin-inline-start: 0;
	margin-inline-end: 2em;
}
body .is-layout-constrained > .alignright {
	float: right;
	margin-inline-start: 2em;
	margin-inline-end: 0;
}
body .is-layout-constrained > .aligncenter {
	margin-left: auto !important;
	margin-right: auto !important;
}
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: var(--wp--style--global--content-size);
	margin-left: auto !important;
	margin-right: auto !important;
}
body .is-layout-constrained > .alignwide {
	max-width: var(--wp--style--global--wide-size);
}
body .is-layout-flex {
	display: flex;
}
body .is-layout-flex {
	flex-wrap: wrap;
	align-items: center;
}
body .is-layout-flex > * {
	margin: 0;
}
body .is-layout-grid {
	display: grid;
}
body .is-layout-grid > * {
	margin: 0;
}
:where(.wp-block-columns.is-layout-flex) {
	gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
	gap: 2em;
}
:where(.wp-block-post-template.is-layout-flex) {
	gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
	gap: 1.25em;
}
.has-black-color {
	color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-color {
	color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-color {
	color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-color {
	color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-color {
	color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-color {
	color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-color {
	color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-color {
	color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-color {
	color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-color {
	color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-color {
	color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-color {
	color: var(--wp--preset--color--vivid-purple) !important;
}
.has-black-background-color {
	background-color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-background-color {
	background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-background-color {
	background-color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-background-color {
	background-color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-background-color {
	background-color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-background-color {
	background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-background-color {
	background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-background-color {
	background-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-background-color {
	background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-background-color {
	background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-background-color {
	background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-background-color {
	background-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-black-border-color {
	border-color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-border-color {
	border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-border-color {
	border-color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-border-color {
	border-color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-border-color {
	border-color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-border-color {
	border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-border-color {
	border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-border-color {
	border-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-border-color {
	border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-border-color {
	border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-border-color {
	border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-border-color {
	border-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
	background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}
.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
	background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}
.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
	background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}
.has-luminous-vivid-orange-to-vivid-red-gradient-background {
	background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}
.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
	background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}
.has-cool-to-warm-spectrum-gradient-background {
	background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}
.has-blush-light-purple-gradient-background {
	background: var(--wp--preset--gradient--blush-light-purple) !important;
}
.has-blush-bordeaux-gradient-background {
	background: var(--wp--preset--gradient--blush-bordeaux) !important;
}
.has-luminous-dusk-gradient-background {
	background: var(--wp--preset--gradient--luminous-dusk) !important;
}
.has-pale-ocean-gradient-background {
	background: var(--wp--preset--gradient--pale-ocean) !important;
}
.has-electric-grass-gradient-background {
	background: var(--wp--preset--gradient--electric-grass) !important;
}
.has-midnight-gradient-background {
	background: var(--wp--preset--gradient--midnight) !important;
}
.has-small-font-size {
	font-size: var(--wp--preset--font-size--small) !important;
}
.has-medium-font-size {
	font-size: var(--wp--preset--font-size--medium) !important;
}
.has-large-font-size {
	font-size: var(--wp--preset--font-size--large) !important;
}
.has-x-large-font-size {
	font-size: var(--wp--preset--font-size--x-large) !important;
}
.wp-block-navigation a:where(:not(.wp-element-button)) {
	color: inherit;
}
:where(.wp-block-post-template.is-layout-flex) {
	gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
	gap: 1.25em;
}
:where(.wp-block-columns.is-layout-flex) {
	gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
	gap: 2em;
}
.wp-block-pullquote {
	font-size: 1.5em;
	line-height: 1.6;
}
.addtoany_list a {
	border-radius: 50%;
	border: 1px solid #000 !important;
	padding: 3px 4px !important;
	margin-right: 5px;
	width: 28px;
	height: 28px;
	line-height: 30px;
	font-size: 14px;
}
.site .a2a_kit.addtoany_list a:focus,
.addtoany_list a:hover,
.widget .addtoany_list a:hover {
	border-color: #c60c30 !important;
}
.site .a2a_kit.addtoany_list a:focus path,
.addtoany_list a:hover path,
.widget .addtoany_list a:hover path {
	fill: #c60c30 !important;
}
div#n2-ss-7 .n2-ss-slider-1 {
	display: grid;
	position: relative;
}
div#n2-ss-7 .n2-ss-slider-2 {
	display: grid;
	position: relative;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	border: 0px solid RGBA(62, 62, 62, 1);
	border-radius: 0px;
	background-clip: padding-box;
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: scroll;
	z-index: 1;
}
div#n2-ss-7:not(.n2-ss-loaded) .n2-ss-slider-2 {
	background-image: none !important;
}
div#n2-ss-7 .n2-ss-slider-3 {
	display: grid;
	grid-template-areas: "cover";
	position: relative;
	overflow: hidden;
	z-index: 10;
}
div#n2-ss-7 .n2-ss-slider-3 > * {
	grid-area: cover;
}
div#n2-ss-7 .n2-ss-slide-backgrounds,
div#n2-ss-7 .n2-ss-slider-3 > .n2-ss-divider {
	position: relative;
}
div#n2-ss-7 .n2-ss-slide-backgrounds {
	z-index: 10;
}
div#n2-ss-7 .n2-ss-slide-backgrounds > * {
	overflow: hidden;
}
div#n2-ss-7 .n2-ss-slide-background {
	transform: translateX(-100000px);
}
div#n2-ss-7 .n2-ss-slider-4 {
	place-self: center;
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: "slide";
}
div#n2-ss-7 .n2-ss-slider-4 > * {
	grid-area: slide;
}
div#n2-ss-7.n2-ss-full-page--constrain-ratio .n2-ss-slider-4 {
	height: auto;
}
div#n2-ss-7 .n2-ss-slide {
	display: grid;
	place-items: center;
	grid-auto-columns: 100%;
	position: relative;
	z-index: 20;
	-webkit-backface-visibility: hidden;
	transform: translateX(-100000px);
}
div#n2-ss-7 .n2-ss-slide {
	perspective: 1000px;
}
div#n2-ss-7 .n2-ss-slide-active {
	z-index: 21;
}
.n2-ss-background-animation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}
div#n2-ss-7 .n2-ss-button-container,
div#n2-ss-7 .n2-ss-button-container a {
	display: block;
}
div#n2-ss-7 .n2-ss-button-container--non-full-width,
div#n2-ss-7 .n2-ss-button-container--non-full-width a {
	display: inline-block;
}
div#n2-ss-7 .n2-ss-button-container.n2-ss-nowrap {
	white-space: nowrap;
}
div#n2-ss-7 .n2-ss-button-container a div {
	display: inline;
	font-size: inherit;
	text-decoration: inherit;
	color: inherit;
	line-height: inherit;
	font-family: inherit;
	font-weight: inherit;
}
div#n2-ss-7 .n2-ss-button-container a > div {
	display: inline-flex;
	align-items: center;
	vertical-align: top;
}
div#n2-ss-7 .n2-ss-button-container span {
	font-size: 100%;
	vertical-align: baseline;
}
div#n2-ss-7 .n2-ss-button-container a[data-iconplacement="left"] span {
	margin-right: 0.3em;
}
div#n2-ss-7 .n2-ss-button-container a[data-iconplacement="right"] span {
	margin-left: 0.3em;
}
div#n2-ss-7 .n2-ss-control-bullet {
	visibility: hidden;
	text-align: center;
	justify-content: center;
	z-index: 14;
}
div#n2-ss-7 .n2-ss-control-bullet--calculate-size {
	left: 0 !important;
}
div#n2-ss-7 .n2-ss-control-bullet-horizontal.n2-ss-control-bullet-fullsize {
	width: 100%;
}
div#n2-ss-7 .n2-ss-control-bullet-vertical.n2-ss-control-bullet-fullsize {
	height: 100%;
	flex-flow: column;
}
div#n2-ss-7 .nextend-bullet-bar {
	display: inline-flex;
	vertical-align: top;
	visibility: visible;
	align-items: center;
	flex-wrap: wrap;
}
div#n2-ss-7 .n2-bar-justify-content-left {
	justify-content: flex-start;
}
div#n2-ss-7 .n2-bar-justify-content-center {
	justify-content: center;
}
div#n2-ss-7 .n2-bar-justify-content-right {
	justify-content: flex-end;
}
div#n2-ss-7 .n2-ss-control-bullet-vertical > .nextend-bullet-bar {
	flex-flow: column;
}
div#n2-ss-7 .n2-ss-control-bullet-fullsize > .nextend-bullet-bar {
	display: flex;
}
div#n2-ss-7 .n2-ss-control-bullet-horizontal.n2-ss-control-bullet-fullsize > .nextend-bullet-bar {
	flex: 1 1 auto;
}
div#n2-ss-7 .n2-ss-control-bullet-vertical.n2-ss-control-bullet-fullsize > .nextend-bullet-bar {
	height: 100%;
}
div#n2-ss-7 .nextend-bullet-bar .n2-bullet {
	cursor: pointer;
	transition: background-color 0.4s;
}
div#n2-ss-7 .nextend-bullet-bar .n2-bullet.n2-active {
	cursor: default;
}
div#n2-ss-7 div.n2-ss-bullet-thumbnail-container {
	position: absolute;
	z-index: 10000000;
}
div#n2-ss-7 .n2-ss-bullet-thumbnail-container .n2-ss-bullet-thumbnail {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
div#n2-ss-7 .n2-font-ff3aa4d20a8af749fc766ea44c01c45e-hover {
	font-family: "Montserrat";
	color: #ffffff;
	font-size: 200%;
	text-shadow: 2px 5px 5px RGBA(0, 0, 0, 1);
	line-height: 1.5;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: uppercase;
	font-weight: 800;
}
div#n2-ss-7 .n2-font-00c0426d303d9ebf81ec63b1d5d55f94-paragraph {
	font-family: "Montserrat";
	color: #ffffff;
	font-size: 112.5%;
	text-shadow: 2px 5px 5px RGBA(0, 0, 0, 1);
	line-height: 1.5;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	font-weight: 400;
}
div#n2-ss-7 .n2-font-00c0426d303d9ebf81ec63b1d5d55f94-paragraph a,
div#n2-ss-7 .n2-font-00c0426d303d9ebf81ec63b1d5d55f94-paragraph a:focus {
	font-family: "Montserrat";
	color: #1890d7;
	font-size: 100%;
	text-shadow: 2px 5px 5px RGBA(0, 0, 0, 1);
	line-height: 1.5;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	font-weight: 400;
}
div#n2-ss-7 .n2-font-00c0426d303d9ebf81ec63b1d5d55f94-paragraph a:hover,
div#n2-ss-7 .n2-font-00c0426d303d9ebf81ec63b1d5d55f94-paragraph a:active {
	font-family: "Montserrat";
	color: #1890d7;
	font-size: 100%;
	text-shadow: 2px 5px 5px RGBA(0, 0, 0, 1);
	line-height: 1.5;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	font-weight: 400;
}
div#n2-ss-7 .n2-font-b22b6590b1d0109a3ac8466f5692b0e6-link a {
	font-family: "Roboto", "Arial";
	color: #ffffff;
	font-size: 87.5%;
	text-shadow: none;
	line-height: 1.5;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	font-weight: 400;
}
div#n2-ss-7 .n2-style-92696f28387c165901a67dd410e553f5-heading {
	background: RGBA(255, 255, 255, 0.5);
	opacity: 1;
	padding: 10px 30px 10px 30px;
	box-shadow: none;
	border-width: 0px;
	border-style: solid;
	border-color: #000000;
	border-color: RGBA(0, 0, 0, 1);
	border-radius: 0px;
}
div#n2-ss-7 .n2-style-a5a9420075d4bb2a9af989b64ab7edfb-dot {
	background: RGBA(0, 0, 0, 0);
	opacity: 1;
	padding: 5px 5px 5px 5px;
	box-shadow: none;
	border-width: 2px;
	border-style: solid;
	border-color: #ffffff;
	border-color: RGBA(255, 255, 255, 0.8);
	border-radius: 50px;
	margin: 4px;
}
div#n2-ss-7 .n2-style-a5a9420075d4bb2a9af989b64ab7edfb-dot.n2-active,
div#n2-ss-7 .n2-style-a5a9420075d4bb2a9af989b64ab7edfb-dot:hover,
div#n2-ss-7 .n2-style-a5a9420075d4bb2a9af989b64ab7edfb-dot:focus {
	background: #c60c30;
	border-width: 2px;
	border-style: solid;
	border-color: #ffffff;
	border-color: RGBA(255, 255, 255, 0);
}
div#n2-ss-7 .n2-ss-slide-limiter {
	max-width: 1920px;
}
div#n2-ss-7 .n-uc-TQC49fVYGdvm {
	padding: 10px 10px 10px 10px;
}
div#n2-ss-7 .n-uc-nXXc9ghSB8ef-inner {
	padding: 10px 10px 10px 10px;
	text-align: left;
	--ssselfalign: var(--ss-fs);
	justify-content: flex-start;
}
div#n2-ss-7 .n-uc-nXXc9ghSB8ef {
	max-width: 900px;
	align-self: var(--ss-fs);
}
div#n2-ss-7 .n-uc-dWM0UoDcjACb {
	padding: 10px 10px 10px 10px;
}
div#n2-ss-7 .n-uc-SK7HjaIW99m7-inner {
	padding: 10px 10px 10px 10px;
	text-align: left;
	--ssselfalign: var(--ss-fs);
	justify-content: flex-start;
}
div#n2-ss-7 .n-uc-SK7HjaIW99m7 {
	max-width: 900px;
	align-self: var(--ss-fs);
}
div#n2-ss-7 .n-uc-11bd28d96398a {
	--margin-bottom: 15px;
}
div#n2-ss-7 .n-uc-FYmDneDjOp57 {
	padding: 10px 10px 10px 10px;
}
div#n2-ss-7 .n-uc-qrI1QJfTs2oo-inner {
	padding: 10px 10px 10px 10px;
	text-align: left;
	--ssselfalign: var(--ss-fs);
	justify-content: flex-start;
}
div#n2-ss-7 .n-uc-qrI1QJfTs2oo {
	max-width: 900px;
	align-self: var(--ss-fs);
}
div#n2-ss-7 .n-uc-135aab87ff6c1 {
	--margin-bottom: 15px;
}
@media (min-width: 1200px) {
	div#n2-ss-7 [data-hide-desktopportrait="1"] {
		display: none !important;
	}
}
@media (orientation: landscape) and (max-width: 1199px) and (min-width: 901px), (orientation: portrait) and (max-width: 1199px) and (min-width: 701px) {
	div#n2-ss-7 [data-hide-tabletportrait="1"] {
		display: none !important;
	}
}
@media (orientation: landscape) and (max-width: 900px), (orientation: portrait) and (max-width: 700px) {
	div#n2-ss-7 [data-hide-mobileportrait="1"] {
		display: none !important;
	}
}
:root {
	--r-globalnav-flyout-height-center: 550px;
}
header.main-header .nav-main-menu .container .navbar-menu a.custom-logo-link img {
	max-width: 95px;
}
header.main-header .nav-main-menu .container .navbar-mobile a img {
	max-width: 75px;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
	header.main-header .nav-header-top .container ul.nav-header-flex {
		justify-content: left;
		align-items: end;
		flex-wrap: nowrap;
		-webkit-overflow-scrolling: touch;
	}
}
div#ez-toc-container {
	text-align: left;
}
.home div#n2-ss-7 .n2-font-00c0426d303d9ebf81ec63b1d5d55f94-paragraph {
	min-width: 250px;
}
@media screen and (min-width: 768px) {
	.home div#n2-ss-8 .n2-font-00c0426d303d9ebf81ec63b1d5d55f94-paragraph br {
		display: none;
	}
}
.home .banners-owl-slider .owl-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.home .banners-owl-slider .owl-nav.disabled {
	display: none;
}
.home .banners-owl-slider .owl-nav button {
	position: absolute;
	top: 40%;
	width: 40px;
	height: 40px;
	line-height: 30px;
	background-color: #fff;
	color: #2b378b;
	font-size: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
	box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.5);
}
.home .banners-owl-slider .owl-nav .owl-prev {
	left: -1%;
}
.home .banners-owl-slider .owl-nav .owl-next {
	right: -1%;
}
main.archive-template #section-4.section-multimedia .container .multimedia-main .row .col-xl-8 .row .col-xl-5 .tile-multimedia h2 a {
	color: #fff;
	text-decoration: none;
}
main.archive-template #section-4.section-multimedia .container .multimedia-main .row .col-xl-8 .row .col-xl-5 .tile-multimedia h2 a:hover {
	text-decoration: underline;
}
.archive.category .section-footer {
	display: none;
}
body.home .site-content-contain .site-content main.site-main #section-2.section-course .container-list-course .list-courses > .row .col-xl-4 .course-item > img {
	border-radius: 20px 20px 0 0;
}
body.en main .section-menu-category .container .list-cate ul li a {
	padding-right: 40px;
}
#contact-map img.location-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
main.page-course-ola-ielts .section-4 .box-main .container .box-main_top .row.list-5-column .col-xl-4:nth-child(5) .box-item .box-image-thumbnail img,
main.page-course-ola-ielts .section-4 .box-main .container .box-main_top .row.list-5-column .col-xl-3:nth-child(5) .box-item .box-image-thumbnail img {
	border-bottom-right-radius: 35px;
}
main.archive-template .archive-post .section-1 .container .box-wrapper .row .page-header {
	background-color: #97ccf2;
}
main.archive-template .archive-post .section-1 .container .box-wrapper .row .page-header .taxonomy-description {
	font-size: 18px;
}
main.product-template-1 #section-8 {
	padding-bottom: 24px;
	padding-top: 0;
}
main.product-template-1 .section-8-padding {
	padding-top: 24px;
}
main .section-blog-detail .container .blog-detail-content td {
	padding: 0.4em !important;
}
@media screen and (max-width: 1024px) {
	header.main-header .nav-header-top .container ul.nav-header-flex li:first-child {
		order: 999;
	}
	main .section-menu-category .container .list-cate ul li a {
		padding-left: 15px;
	}
	main .section-menu-category .container .list-cate ul li:first-child a,
	body.en main .section-menu-category .container .list-cate ul li:first-child a {
		padding-left: 0;
	}
	main .section-5 .container .title-about-us h2 br {
		display: block;
	}
	#return-to-top {
		bottom: 10%;
		right: 10px;
	}
	.footer-bottom-fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 998;
		box-shadow: 0.76712px -0.19178px 5.9589px #000;
	}
	.footer-bottom-fixed .call-to-action-main {
		display: flex;
		background: #2b378b;
	}
	.footer-bottom-fixed .call-to-action-main .call-action {
		width: 50%;
		text-align: center;
	}
	.footer-bottom-fixed .call-to-action-main .call-action:first-child {
		border-right: 1px solid #fff;
	}
	.footer-bottom-fixed .call-to-action-main .call-action a {
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		font-family: "Montserrat Medium";
		display: block;
		padding: 15px 0;
	}
}
@media screen and (min-width: 1025px) {
	.footer-bottom-fixed {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.section-1 .banner-content .container .banner-content-main h1,
	.section-1 .banner-content .container .banner-content-main p {
		text-shadow: 2px 5px 5px #000 !important;
	}
}
@media screen and (max-width: 767px) {
	main.product-template-1 #section-8 {
		padding-bottom: 15px;
	}
	.page-id-3715 main.page-course-jumpstart .section-2 .banner-content,
	.page-id-3721 main.page-course-jumpstart .section-2 .banner-content {
		margin-top: -115px;
		padding: 30px 0;
	}
	body.home .site-content-contain .site-content main.site-main #section-3.section-blog .container .blog-main.blog-first .blog-content .blog-content-title a {
		font-size: 20px;
		line-height: 1.25;
	}
	body.home .site-content-contain .site-content main.site-main #section-2.section-course .container-list-course .list-courses > .row .col-xl-4 .course-item .course-content h2 {
		font-size: 22px;
	}
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-prev {
	left: 0;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-next {
	right: 0;
}
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left {
	height: 100%;
	position: relative;
}

main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading {
	display: flex;
}

@media screen and (max-width: 767px) {
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading,
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading {
		flex-direction: column;
	}
}

main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-years,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-years {
	margin-right: 30px;
	line-height: 1;
}

@media screen and (max-width: 767px) {
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-years,
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-years {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-years span,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-years span {
	display: block;
	color: #fa9676;
	font-size: 45px;
	font-family: "Montserrat Bold";
}

@media screen and (max-width: 767px) {
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-years span,
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-years span {
		font-size: 30px;
	}
}

main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .line,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .line {
	margin-right: 15px;
	width: 5px;
	min-width: 5px;
	height: 120px;
	background-color: #515151;
}

@media screen and (max-width: 767px) {
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .line,
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .line {
		height: 5px;
		width: 120px;
		margin-right: 0;
		margin-bottom: 10px;
	}
}

main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-content ul li,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-content ul li {
	list-style-type: disc;
	margin-bottom: 15px;
	font-size: 18px;
	color: #000000;
	font-family: "Montserrat Regular";
}

@media screen and (max-width: 767px) {
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-content ul li,
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-content ul li {
		font-size: 16px;
	}
}

main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-content p,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-content p {
	margin-bottom: 0;
	font-size: 18px;
	color: #000;
	font-family: "Montserrat Regular";
}

main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-content p span,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-content p span {
	font-size: 18px;
	color: #2f4094;
	font-family: "Montserrat Bold";
}

@media screen and (max-width: 767px) {
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-content p,
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-content p {
		font-size: 16px;
	}

	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-left .box-heading .box-content p span,
	main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-left .box-heading .box-content p span {
		font-size: 16px;
	}
}

main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-9 .box-right,
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-10 .box-right {
	text-align: right;
	position: relative;
}
@media screen and (min-width: 1200px) {
	.h--timeline-navigation-container .h--timeline-navigation {
		display: none;
	}
}
@media screen and (min-width: 1025px) {
	.section-blog-detail .blog-detail-content .right-sidebar {
		padding-left: 24px;
	}
}
@media screen and (min-width: 320px) and (max-width: 991px) {
	main .section-blog-detail .container .blog-detail-content .right-sidebar {
		margin-top: 15px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	main.page-course-juniors .section-2 .banner-content .container .banner-content-main h2 {
		font-size: 26px;
	}
	.page-id-3739 main.page-course-juniors .section-7 .banner-content .container .banner-content-main,
	.page-id-3743 main.page-course-juniors .section-7 .banner-content .container .banner-content-main {
		max-width: 340px;
	}
	main .section-blog-detail .container .blog-detail-content .right-sidebar .banner-content:first-child {
		width: 49%;
		float: left;
	}
	main .section-blog-detail .container .blog-detail-content .right-sidebar .banner-content:nth-child(2) {
		width: 49%;
		float: right;
	}
	main .section-blog-detail .container .blog-detail-content .right-sidebar .related-post {
		float: left;
		width: 100%;
	}
}
.form-content .form-register .form-group .error-text {
	font-size: 14px;
	font-family: "Montserrat Medium";
	color: red;
}

.time {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	grid-template-rows: minmax(60px, auto);
	margin-bottom: 32px;
}

.time .item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #02244a;
	color: #fff;
}

.time .item span {
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 5px;
}

.day,
.hour,
.minute,
.seconds {
	font-size: 32px;
	font-weight: bold;
}

.title-time {
	text-align: center;
	margin-bottom: 20px;
	color: #000;
	font-family: "Montserrat Medium";
	font-size: 20px;
}

@media screen and (max-width: 767px) {
	.time {
		column-gap: 15px;
	}

	#day,
	#hour,
	#minute,
	#seconds {
		font-size: 24px;
	}
}
.page-template-page-blog-template-2 .section-padding {
	padding-top: 24px;
}
@media screen and (max-width: 767px) {
	.page-template-page-blog-template-2 .section-padding {
		padding-top: 12px;
	}
}
.page-template-page-product-template-1 .section-add-new a {
	display: block;
}
.page-template-page-product-template-1 .section-add-new img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.page-template-page-product-template-1 .section-add-new {
	padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
	.page-template-page-product-template-1 .section-add-new {
		padding-bottom: 12px;
	}
}
@media screen and (min-width: 1025px) {
	header.main-header .nav-main-menu .container .navbar-menu a {
		font-size: 14px;
	}
}
@media screen and (min-width: 1200px) {
	header.main-header .nav-main-menu .container .navbar-dropdown-item.dropdown-item-3:hover .dropdown-content {
		height: 100px;
	}
}
.page-template-page-about-us main .section-5 {
	padding-bottom: 50px;
}
.page-template-page-about-us main .section-5 .box-school-regulation {
	text-align: center;
}
.page-template-page-about-us main .section-5 .box-school-regulation a {
	text-decoration: none;
	text-align: center;
	color: #000;
	font-size: 36px;
	line-height: 56px;
	font-family: "Montserrat SemiBold";
	margin-bottom: 0;
}
.page-template-page-about-us main .section-5 .ila-premium .row.row-list-ila-two {
	padding-bottom: 0;
}
@media screen and (max-width: 1024px) {
	.page-template-page-about-us main .section-5 {
		padding-bottom: 30px;
	}
	.page-template-page-about-us main .section-5 .box-school-regulation a {
		font-size: 24px;
		line-height: 1.25;
		padding: 30px 0;
	}
}
body.home .site-content-contain .site-content main.site-main #section-2.section-course .container .choose-course .row p {
	font-family: "Montserrat Medium";
	font-size: 16px;
}
@media screen and (max-width: 767px) {
	.page-template-page-product-template-1 #section-2 .form-content {
		margin-top: -300px;
	}
}
main.product-template-1 #section-9 .container .title-space {
	bottom: 70px;
}

main.product-template-1 #section-4 {
	padding-top: 24px;
}

main.product-template-1 .section-content {
	margin-top: 24px;
}

main.product-template-1 .section-content .box-content {
	padding: 20px;
	text-align: center;
}

main.product-template-1 .section-content .box-content h2 {
	color: #135394;
	font-size: 36px;
	text-transform: none;
	font-family: "Montserrat Bold";
	line-height: 1.25;
}

@media screen and (max-width: 1024px) {
	main.product-template-1 .section-content .box-content h2 {
		font-size: 30px;
	}
}

@media screen and (max-width: 767px) {
	main.product-template-1 .section-content .box-content h2 {
		font-size: 20px;
	}

	main.product-template-1 .section-content {
		margin-top: 12px;
	}
}

main.product-template-1 #form-submit-register.section-form {
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
	main.product-template-1 #form-submit-register.section-form {
		padding: 15px 0;
	}
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register {
	max-width: 520px;
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(15px);
	padding: 58px;
	margin: 0 0 0 auto;
}

@media screen and (max-width: 767px) {
	main.product-template-1 #form-submit-register.section-form .form-content .container .form-register {
		padding: 58px 30px;
		background: #ffffff;
		backdrop-filter: unset;
		position: relative;
	}
}

@media screen and (max-width: 767px) and (max-width: 576px) {
	main.product-template-1 #form-submit-register.section-form .form-content .container .form-register {
		padding: 30px;
		background: rgba(255, 255, 255, 0.53);
		border-radius: 24px;
	}
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form-title {
	font-family: "Montserrat SemiBold";
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
	main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form-title {
		font-size: 24px;
		line-height: 1.25;
	}
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .form-group {
	margin-bottom: 16px;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .form-group:nth-child(6) {
	margin-bottom: 32px;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .form-group .form-control {
	padding: 10px 10px 10px 25px;
	font-family: "Montserrat Regular";
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #86868b;
	background: #ffffff;
	border: 1px solid #e5e5e6;
	border-radius: 26px;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .form-group .form-control::placeholder {
	color: #86868b;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .form-group .form-control::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	font-family: "Montserrat Regular";
	opacity: 1;
	/* Firefox */
	color: #86868b;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .form-group .form-control:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-family: "Montserrat Regular";
	color: #86868b;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .form-group .form-control::-ms-input-placeholder {
	/* Microsoft Edge */
	font-family: "Montserrat Regular";
	color: #86868b;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .button-wrapper {
	text-align: center;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .button-wrapper .btn-register {
	border: none;
	background: #2b378b;
	border-radius: 50px;
	width: 204px;
	padding: 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .button-wrapper .btn-register::before {
	content: "";
	height: 450px;
	width: 450px;
	background: #c60c30;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 90%;
	transform: translateY(-50%) translateX(-50%) scale(0);
	transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	z-index: -1;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .button-wrapper .btn-register a {
	display: block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: "Montserrat Bold";
	padding: 12px 30px;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .button-wrapper .btn-register a::after {
	content: "";
	width: 10px;
	height: 10px;
	background: #c60c30;
	position: absolute;
	border-radius: 50%;
	right: 15px;
	top: 18px;
}

main.product-template-1 #form-submit-register.section-form .form-content .container .form-register .form .button-wrapper .btn-register:hover::before {
	transform: translateY(-50%) translateX(-50%) scale(1);
}

@media screen and (max-width: 767px) {
	.page-template-page-product-template-1 #form-submit-register .form-content {
		margin-top: -300px;
	}
}
.page-template-page-product-template-1 .site-content-contain .location-area {
	display: none;
}
.page-template-page-product-template-1 .site-content-contain .site-footer {
	display: none;
}
main.product-template-1 #section-9 .container .title-space p {
	font-size: 16px;
	color: #666666;
	line-height: 1.5;
}
.page-template-page-product-template-1 .main-header {
	display: none;
}
.page-template-page-product-template-1 .site-content-contain {
	padding: 0 !important;
}
.page-template-page-product-template-1 .main-header {
	display: none;
}
.page-template-page-product-template-1 .site-content-contain {
	padding: 0 !important;
}
@media screen and (max-width: 767px) {
	main.product-template-1 #section-9 .space-owl-slider .owl-dots {
		margin-top: 150px;
	}
	main.product-template-1 #section-9 .container .title-space {
		bottom: 40px;
	}
}
@media screen and (max-width: 767px) {
	main.product-template-1 #section-8 .banner-content .container .banner-content-main .text-custom {
		font-size: 16px !important;
		color: #000000 !important;
		transform: unset !important;
		position: static !important;
	}
	main.product-template-1 #section-8 .banner-content .container .banner-content-main .text-custom.title {
		font-size: 20px !important;
		margin-bottom: 0;
	}
	main.product-template-1 #section-8 > .container .banner-content .container .banner-content-main p {
		top: 230px !important;
	}
}
.home .section-multimedia .video-item .open-popup {
	position: relative;
}

.home .section-multimedia .video-item .open-popup::after {
	content: "";
	width: 3rem;
	height: 3rem;
	background-image: url("../images/play-button.svg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.home .section-multimedia .video-item.video-first .open-popup::after {
	width: 6rem;
	height: 6rem;
}

@media screen and (max-width: 767px) {
	.home .section-multimedia .video-item.video-first .open-popup::after {
		width: 4rem;
		height: 4rem;
	}

	.home .section-multimedia .video-item .open-popup::after {
		width: 4rem;
		height: 4rem;
	}
}

.section-gallery-video .box-video-top .video-item-lg .box-video .popup-youtube {
	position: relative;
}

.section-gallery-video .box-video-top .video-item-lg .box-video .popup-youtube::after {
	content: "";
	width: 6rem;
	height: 6rem;
	background-image: url("../images/play-button.svg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
	.section-gallery-video .box-video-top .video-item-lg .box-video .popup-youtube::after {
		width: 4rem;
		height: 4rem;
	}
}

.section-gallery-video .box-video-bottom .video-item .box-video .popup-youtube {
	position: relative;
}

.section-gallery-video .box-video-bottom .video-item .box-video .popup-youtube::after {
	content: "";
	width: 3rem;
	height: 3rem;
	background-image: url("../images/play-button.svg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

main.archive-template.archive-video .video-main .container .row .video-list .video-item .video-thumb {
	position: relative;
}

main.archive-template.archive-video .video-main .container .row .video-list .video-item .video-thumb::after {
	content: "";
	width: 3rem;
	height: 3rem;
	background-image: url("../images/play-button.svg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px) {
	main.archive-template.archive-video .video-main .container .row .video-list .video-item .video-thumb::after {
		width: 2rem;
		height: 2rem;
		font-size: 15px;
	}
}

main.single-video .video-main .container .row .video-list .video-item .video-thumb {
	position: relative;
}

main.single-video .video-main .container .row .video-list .video-item .video-thumb::after {
	content: "";
	width: 3rem;
	height: 3rem;
	background-image: url("../images/play-button.svg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px) {
	main.single-video .video-main .container .row .video-list .video-item .video-thumb::after {
		width: 2rem;
		height: 2rem;
		font-size: 15px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1180px) {
	#form-submit-register.section-footer {
		background-position: center;
	}
}
button#submit-form.disabled,
button#submit-form-section.disabled {
	opacity: 0.3;
}
.postid-16204 .post-content table {
	font-size: 18px !important;
}
.postid-16204 .post-content table p {
	font-size: 18px !important;
}
.postid-16204 .post-content table span {
	font-size: 18px !important;
}
@media screen and (max-width: 767px) {
	.postid-19106 main .section-blog-detail .container .blog-detail-content .main-content .post-content {
		word-wrap: break-word;
	}
	.postid-19106 main .section-blog-detail .container .blog-detail-content .main-content .post-content #ez-toc-container {
		word-break: break-all;
	}
}
.page-template-page-template-teachers .site-content-contain .site-content main.tearchers .section-teacher .box-teacher {
	cursor: pointer;
}
main .h--timeline .container .box-timeline .h--timeline-events .h--timeline-event .h--timeline-event-content.timeline-5 .box-left .box-heading .box-content ul li {
	list-style-type: disc;
	margin-bottom: 15px;
	font-size: 18px;
	color: #000000;
	font-family: "Montserrat Regular";
}
@media screen and (min-width: 1025px) {
	.btn-dropdown-mb {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	header.main-header .nav-main-menu .container .navbar-dropdown-item .dropbtn i {
		display: none;
	}

	.btn-dropdown-mb {
		padding: 10px 15px;
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		color: #000000;
		z-index: 9999;
	}
}
.blog-detail-content .main-content .post-content button.btn-shortcode {
	border: none;
	background: #2b378b;
	border-radius: 50px;
	padding: 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
	display: flex;
	margin: 0 auto;
}
.blog-detail-content .main-content .post-content button.btn-shortcode::before {
	content: "";
	height: 650px;
	width: 650px;
	background: #c60c30;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 86%;
	transform: translateY(-50%) translateX(-50%) scale(0);
	transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	z-index: -1;
}
.blog-detail-content .main-content .post-content button.btn-shortcode a {
	display: block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: "Montserrat Bold";
	padding: 8px 50px 8px 30px;
}
.blog-detail-content .main-content .post-content button.btn-shortcode a:after {
	content: "";
	width: 10px;
	height: 10px;
	background: #c60c30;
	position: absolute;
	border-radius: 50%;
	right: 25px;
	top: 18px;
}
.blog-detail-content .main-content .post-content button.btn-shortcode:hover::before {
	transform: translateY(-50%) translateX(-50%) scale(1);
}
@media screen and (min-width: 1025px) {
	header.main-header .nav-header-top .container ul.nav-header-flex li a {
		font-size: 12px;
	}
}
.external-link button.btn-register {
	background: #fdb510 !important;
}
