@keyframes icon-bound-fill {
	0% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.2;
	}
	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		transform: rotate(0) scale(1) skew(1deg);
		opacity: 0.2;
	}
	100% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.2;
	}
}
main.facility .section-1 {
	position: relative;
	padding: 24px 0;
}
@media screen and (max-width: 991px) {
	main.facility .section-1 {
		padding: 12px 0;
	}
}
main.facility .section-1 .container {
	position: relative;
}
main.facility .section-1 .container #banner-video {
	width: 100%;
	height: auto;
	border-radius: 35px;
	max-height: 560px;
	object-fit: cover;
	display: block;
}
@media screen and (max-width: 1024px) {
	main.facility .section-1 .container #banner-video {
		height: 200px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	main.facility .section-1 .container #banner-video {
		height: 370px;
	}
}
@media screen and (width: 1024px) {
	main.facility .section-1 .container #banner-video {
		height: 470px;
	}
}
@media screen and (max-width: 767px) {
	main.facility .section-1 .container #banner-video {
		border-radius: 15px;
	}
}
main.facility .section-1 .img-background {
	width: 100%;
	height: auto;
}
@media screen and (min-width: 1280px) {
	main.facility .section-1 .img-background {
		max-height: 900px;
		object-fit: cover;
	}
}
main.facility .section-1 .banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
	main.facility .section-1 .banner-content {
		width: auto;
		top: 10%;
		left: 5%;
		transform: translate(0);
	}
}
main.facility .section-1 .banner-content .container .banner-content-main {
	max-width: 600px;
	padding: 0;
	margin: 0 auto 0 0;
	text-align: left;
}
main.facility .section-1 .banner-content .container .banner-content-main h1 {
	font-family: "Montserrat Bold";
	font-size: 34px;
	margin-bottom: 15px;
	line-height: 1.25;
}
@media screen and (min-width: 768px) {
	main.facility .section-1 .banner-content .container .banner-content-main h1 {
		text-shadow: 2px 5px 5px #0075a9;
	}
}
@media screen and (max-width: 767px) {
	main.facility .section-1 .banner-content .container .banner-content-main h1 {
		font-size: 22px;
		line-height: 1.25;
		margin-bottom: 10px;
		color: #000 !important;
	}
	main.facility .section-1 .banner-content .container .banner-content-main h1 span {
		color: #000 !important;
	}
}
main.facility .section-1 .banner-content .container .banner-content-main p {
	text-transform: none;
	font-size: 22px;
	font-family: "Montserrat SemiBold";
}
@media screen and (min-width: 768px) {
	main.facility .section-1 .banner-content .container .banner-content-main p {
		text-shadow: 2px 5px 5px #0075a9;
	}
}
@media screen and (max-width: 767px) {
	main.facility .section-1 .banner-content .container .banner-content-main p {
		font-size: 14px;
		color: #000 !important;
	}
	main.facility .section-1 .banner-content .container .banner-content-main p span {
		color: #000 !important;
	}
}
main.facility .section-1 .banner-content .container .banner-content-main p a {
	text-decoration: none;
	color: #fff;
}
main.facility .section-1 .banner-content .container .banner-content-main p a:hover {
	text-decoration: underline;
}
main.facility .section-1 .banner-content .container .banner-content-main p img {
	width: 32px;
	height: 32px;
}
@media screen and (max-width: 767px) {
	main.facility .section-1 > .container {
		display: grid;
	}
	main.facility .section-1 > .container video {
		order: 2;
	}
	main.facility .section-1 > .container .banner-content {
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0);
		padding-top: 12px;
	}
	main.facility .section-1 > .container .banner-content .container .banner-content-main {
		max-width: 100%;
		text-align: center;
	}
}
@media screen and (max-width: 767px) and (max-width: 767px) {
	main.facility .section-1 > .container .banner-content .container .banner-content-main p {
		color: #fff;
		position: absolute;
		top: 140px;
		left: 50%;
		transform: translate(-50%, 0);
		display: grid;
	}
	main.facility .section-1 > .container .banner-content .container .banner-content-main p a {
		color: #fff;
	}
}
@media screen and (max-width: 767px) and (max-width: 767px) and (max-width: 767px) {
	main.facility .section-1 > .container .banner-content .container .banner-content-main p a:first-child {
		order: 2;
		text-transform: uppercase;
	}
}
@media screen and (max-width: 767px) and (max-width: 767px) and (max-width: 767px) {
	main.facility .section-1 > .container .banner-content .container .banner-content-main p a:last-child {
		display: block;
		margin-left: 0 !important;
		margin-bottom: 10px;
	}
	main.facility .section-1 > .container .banner-content .container .banner-content-main p a:last-child img {
		width: 60px;
		height: 60px;
		padding: 10px;
		border: 0.5px solid rgba(255, 255, 255, 0.65);
		border-radius: 50%;
	}
	main.facility .section-1 > .container .banner-content .container .banner-content-main p a:last-child:before {
		content: "";
		position: absolute;
		background-color: #fff;
		border-radius: 100% !important;
		border: 2px solid transparent;
		-webkit-animation: icon-bound-fill#0075A9#0075A9 2.3s infinite ease-in-out;
		animation: icon-bound-fill 2.3s infinite ease-in-out;
		transition: all 0.5s;
		-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		height: 60px;
		width: 60px;
	}
}
main.facility .facility__section-2 .box-wrapper {
	position: relative;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	overflow: hidden;
	height: 610px;
	z-index: 30;
}
@media screen and (max-width: 991px) {
	main.facility .facility__section-2 .box-wrapper {
		height: auto;
	}
}
@media screen and (max-width: 767px) {
	main.facility .facility__section-2 .box-wrapper {
		-webkit-border-radius: 24px;
		-moz-border-radius: 24px;
		border-radius: 24px;
	}
}
main.facility .facility__section-2 .box-wrapper .box-wrapper__row {
	height: 100%;
}
main.facility .facility__section-2 .box-wrapper .row {
	margin: 0;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 {
	padding: 0;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content {
	position: relative;
	height: 100%;
	background-color: #ffeed5;
	padding: 130px 60px;
	overflow: hidden;
	z-index: 20;
}
@media screen and (max-width: 767px) {
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content {
		padding: 60px 30px 30px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content {
		padding: 110px 90px 30px;
	}
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content h2 {
	font-family: "Montserrat Bold";
	font-size: 36px;
	line-height: 1.25;
	color: #000000;
	margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content h2 {
		font-size: 30px;
		margin-bottom: 12px;
	}
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content h2 br {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content h2 {
		font-size: 20px;
	}
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content h2 span {
		color: #000 !important;
	}
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content p {
	font-family: "Montserrat Regular";
	font-size: 18px;
	line-height: 25px;
	color: #000000;
}
@media screen and (max-width: 767px) {
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content p {
		font-size: 14px;
		line-height: 1.5;
	}
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content .box-circle {
	position: absolute;
	width: 150px;
	height: 150px;
	top: -50px;
	left: -50px;
	background: #f59572;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: 10;
}
@media screen and (max-width: 767px) {
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content .box-circle {
		width: 100px;
		height: 100px;
	}
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content .box-rectangle {
	position: absolute;
	bottom: 0;
	right: 8px;
	width: 60px;
	height: 150px;
	background: #abd2c4;
	mix-blend-mode: darken;
}
@media screen and (max-width: 991px) {
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-content .box-rectangle {
		display: none;
	}
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery {
	height: 100%;
	position: relative;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .box-rectangle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 150px;
	background: #abd2c4;
	mix-blend-mode: multiply;
}
@media screen and (max-width: 991px) {
	main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .box-rectangle {
		display: none;
	}
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .row {
	margin: 0;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .row .col-6 {
	padding: 0;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .row .col-6.col-first {
	padding-right: 5px;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .row .col-6 img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .row .col-6 .img-gallery-1 {
	height: 395px;
	margin-bottom: 5px;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .row .col-6 .img-gallery-2 {
	height: 210px;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .row .col-6 .img-gallery-3 {
	height: 210px;
}
main.facility .facility__section-2 .box-wrapper .row .col-lg-6 .box-gallery .row .col-6 .img-gallery-4 {
	margin-top: 5px;
	height: 395px;
}
main.facility .section-3 {
	position: relative;
	margin: 24px 0;
}
@media screen and (max-width: 767px) {
	main.facility .section-3 {
		margin: 12px 0;
	}
}
main.facility .section-3::before {
	bottom: 0;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	z-index: 1;
}
@media screen and (max-width: 991px) {
	main.facility .section-3::before {
		display: none;
	}
}
main.facility .section-3 .img-background {
	width: 100%;
	height: auto;
}
main.facility .section-3 .box-content {
	position: absolute;
	top: 10%;
	left: 6%;
	width: 100%;
	z-index: 99;
}
@media screen and (max-width: 991px) {
	main.facility .section-3 .box-content {
		position: static;
		margin-top: 24px;
	}
}
@media screen and (max-width: 767px) {
	main.facility .section-3 .box-content {
		margin-top: 12px;
	}
}
@media screen and (width: 1024px) {
	main.facility .section-3 .box-content {
		top: 0;
		left: 0;
	}
}
main.facility .section-3 .box-content .container .box-main-content {
	max-width: 650px;
	margin: 0 0 0 auto;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	padding: 90px;
}
@media screen and (max-width: 991px) {
	main.facility .section-3 .box-content .container .box-main-content {
		max-width: 100%;
		padding: 40px 90px;
	}
}
@media screen and (max-width: 767px) {
	main.facility .section-3 .box-content .container .box-main-content {
		padding: 30px;
	}
}
@media screen and (width: 1024px) {
	main.facility .section-3 .box-content .container .box-main-content {
		padding: 50px;
	}
}
main.facility .section-3 .box-content .container .box-main-content h2 {
	font-family: "Montserrat Bold";
	font-size: 36px;
	line-height: 1.25;
	color: #ffffff;
	margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
	main.facility .section-3 .box-content .container .box-main-content h2 {
		font-size: 30px;
		margin-bottom: 12px;
		color: #000;
	}
	main.facility .section-3 .box-content .container .box-main-content h2 br {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	main.facility .section-3 .box-content .container .box-main-content h2 {
		font-size: 20px;
	}
	main.facility .section-3 .box-content .container .box-main-content h2 span {
		color: #000 !important;
	}
}
main.facility .section-3 .box-content .container .box-main-content p {
	font-family: "Montserrat Regular";
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
}
@media screen and (max-width: 991px) {
	main.facility .section-3 .box-content .container .box-main-content p {
		color: #000000;
	}
}
@media screen and (max-width: 767px) {
	main.facility .section-3 .box-content .container .box-main-content p {
		font-size: 14px;
		line-height: 1.5;
	}
}
main.facility #section-6.section-space-powers {
	position: relative;
}
main.facility #section-6.section-space-powers .container .title-space {
	position: absolute;
	bottom: 40px;
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	color: #000;
	font-family: "Montserrat SemiBold", sans-serif;
	z-index: 99;
}
@media screen and (min-width: 768px) {
	main.facility #section-6.section-space-powers .container .title-space br {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	main.facility #section-6.section-space-powers .container .title-space {
		font-size: 26px;
	}
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item {
	position: relative;
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-image img {
	max-height: 583px;
	object-fit: cover;
	min-height: 583px;
}
@media screen and (min-width: 1024px) and (max-width: 1500px) {
	main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-image img {
		min-height: 520px;
		max-height: 520px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-image img {
		min-height: 400px;
		max-height: 400px;
	}
}
@media screen and (max-width: 767px) {
	main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-image img {
		min-height: 300px;
		max-height: 300px;
	}
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(42, 51, 143, 0.9);
	backdrop-filter: blur(4px);
	text-align: left;
	padding: 40px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s linear;
	display: none;
}
@media screen and (max-width: 767px) {
	main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-content {
		padding: 20px;
	}
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-content a {
	display: block;
	font-family: "Montserrat Bold";
	text-decoration: none;
	color: #ffffff;
	font-size: 24px;
	line-height: 36px;
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-content p {
	font-family: "Montserrat Regular";
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
	main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-content p {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 15px;
	}
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-content .space-location p {
	display: flex;
	margin-bottom: 0;
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item .space-content .space-location p img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	margin-top: 2px;
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item:hover {
	cursor: pointer;
}
main.facility #section-6.section-space-powers .space-owl-slider .space-item:hover .space-content {
	visibility: visible;
	opacity: 1;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-next,
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-prev {
	position: absolute;
	top: 45%;
	width: 40px;
	height: 40px;
	line-height: 35px;
	background-color: #fff;
	color: #2b378b;
	font-size: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
	box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.5);
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-next:hover,
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-prev:hover {
	background-color: #2b378b;
	color: #fff;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-next span,
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-prev span {
	display: block;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-next {
	right: -2%;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-prev {
	left: -2%;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-prev.disabled,
main.facility #section-6.section-space-powers .space-owl-slider .owl-nav .owl-next.disabled {
	visibility: hidden;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-dots {
	margin-top: 100px;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
	background: #d9d9d9;
	margin: 5px;
}
main.facility #section-6.section-space-powers .space-owl-slider .owl-dots .owl-dot.active span {
	background: #f32735;
	opacity: 1;
}
.location-area {
	padding-top: 50px;
}
