.study_box_card {
	position: relative;
	background-color: #ddd365;
	border-radius: 35px;
	overflow: hidden;
	z-index: 99;
}

@media screen and (min-width: 1180px) {
	.study_box_card {
		margin-top: -200px;
	}
}

.study_box_card_content {
	padding: 50px;
	position: relative;
	z-index: 10;
}

@media screen and (max-width: 1024px) {
	.study_box_card_content {
		padding: 30px 15px;
		min-height: 280px;
	}
}

.study_box_card_thumb {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0px;
	left: 0px;
}

main.page-course-jumpstart .section-5 .box-course-background .row .col-md-6 .banner-content {
	padding: 30px;
}

main.page-course-jumpstart .section-5 .box-course-background .row .col-md-6 img.img-background {
	object-fit: cover;
}

@media screen and (min-width: 1180px) {
	main.page-course-ola-ielts .section-4 .box-main {
		padding-bottom: 100px;
	}
}

@media screen and (max-width: 1180px) {
	main .section-1 .container .box-wrapper .row .page-header h1.page-title {
		font-size: 32px;
	}
}

@media screen and (max-width: 767px) {
	main.page-course-ola-ielts .section-2 .banner-content .container .banner-content-main div {
		color: #000 !important;
	}
}
