@font-face {
	font-family: "Times Roman";
	font-style: normal;
	src: url(../fonts/OPTITimes-Roman.otf) format("truetype");
	font-display: swap;
}
main .section-menu-category {
	padding: 20px 0;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
main .section-menu-category .container .list-cate ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media screen and (max-width: 1024px) {
	main .section-menu-category .container .list-cate ul {
		display: block;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
	}
}
@media screen and (max-width: 1024px) {
	main .section-menu-category .container .list-cate ul li {
		display: inline-block;
	}
}
main .section-menu-category .container .list-cate ul li a {
	display: block;
	text-decoration: none;
	font-family: "Montserrat Regular";
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	color: #000000;
	padding-right: 40px;
	border-right: 1px solid #000000;
}
main .section-menu-category .container .list-cate ul li a:hover {
	color: #f32735;
}
@media screen and (max-width: 1024px) {
	main .section-menu-category .container .list-cate ul li a {
		padding-right: 15px;
	}
}
main .section-menu-category .container .list-cate ul li:last-child a {
	padding-right: 0;
	border: none;
}
main .section-blog-detail .container {
	max-width: 1440px !important;
	padding: 0 24px;
}
@media screen and (max-width: 1024px) {
	main .section-blog-detail .container {
		padding: 0 12px;
	}
}
main .section-blog-detail .container .blog-detail-content {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	padding: 24px;
}
@media screen and (max-width: 1024px) {
	main .section-blog-detail .container .blog-detail-content {
		padding: 10px;
	}
}
main .section-blog-detail .container .blog-detail-content .left-sidebar .widget {
	padding-bottom: 0;
}
@media screen and (max-width: 1024px) {
	main .section-blog-detail .container .blog-detail-content .left-sidebar {
		margin-bottom: 20px;
	}
}
main .section-blog-detail .container .blog-detail-content .left-sidebar .category-name {
	font-family: "Montserrat Medium";
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 50px;
}
@media screen and (max-width: 1024px) {
	main .section-blog-detail .container .blog-detail-content .left-sidebar .category-name {
		margin-bottom: 20px;
	}
}
main .section-blog-detail .container .blog-detail-content .left-sidebar .category-name a {
	text-decoration: none;
	color: #000000;
}
main .section-blog-detail .container .blog-detail-content .left-sidebar .category-name a:hover {
	text-decoration: underline;
}
main .section-blog-detail .container .blog-detail-content .left-sidebar .share-title {
	font-family: "Montserrat SemiBold";
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}
main .section-blog-detail .container .blog-detail-content .left-sidebar .links-social {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	gap: 8px;
}
@media screen and (width: 1024px) {
	main .section-blog-detail .container .blog-detail-content .left-sidebar .links-social {
		display: block;
	}
}
@media screen and (width: 1024px) {
	main .section-blog-detail .container .blog-detail-content .left-sidebar .links-social li {
		display: inline-block;
	}
}
main .section-blog-detail .container .blog-detail-content .left-sidebar .links-social li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #000000;
	text-decoration: none;
	color: #000000;
	transition: all 0.4s;
}
main .section-blog-detail .container .blog-detail-content .left-sidebar .links-social li a:hover {
	color: #f32735;
	border-color: #f32735;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .banner-content {
	margin-bottom: 20px;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .banner-content a {
	display: block;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .banner-content a img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .related-post h2 {
	font-family: "Montserrat Bold";
	font-size: 32px;
	line-height: 38px;
	color: #000000;
	margin-bottom: 0 !important;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .related-post .post-item {
	padding: 15px 0;
	border-bottom: 1px solid #000000;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .related-post .post-item a {
	text-decoration: none;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .related-post .post-item a:hover {
	color: #000000;
	text-decoration: underline;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .related-post .post-item .category-name {
	font-family: "Montserrat Regular";
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 0 !important;
	position: relative;
	padding-left: 16px;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .related-post .post-item .category-name::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fdb510;
}
main .section-blog-detail .container .blog-detail-content .right-sidebar .related-post .post-item .post-title {
	font-family: "Montserrat Bold";
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	margin-bottom: 0;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-title {
	font-family: "Montserrat SemiBold";
	font-size: 36px;
	line-height: 40px;
	color: #000000;
	margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
	main .section-blog-detail .container .blog-detail-content .main-content .post-title {
		font-size: 28px;
	}
}
main .section-blog-detail .container .blog-detail-content .main-content .post-thumbnail {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 30px;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content {
	font-size: 16px;
	color: #000000;
	line-height: 1.6;
	font-family: "Montserrat Regular";
	text-align: justify;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content p,
main .section-blog-detail .container .blog-detail-content .main-content .post-content div {
	font-size: 18px;
	margin-bottom: 15px;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content h2 {
	margin-bottom: 0.75em;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content h3,
main .section-blog-detail .container .blog-detail-content .main-content .post-content h4,
main .section-blog-detail .container .blog-detail-content .main-content .post-content h5,
main .section-blog-detail .container .blog-detail-content .main-content .post-content h6 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0.5em;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content .fp_col {
	line-height: 1.25;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content .fp_col a.related_thumbnail {
	height: 130px;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content .fp_col a.related_thumbnail img {
	height: 100%;
	object-fit: cover;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content .fp_col a.postTitle {
	margin-top: 0;
	text-align: left;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content .fp_col .fp_short_dev {
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 10px;
}
main .section-blog-detail .container .blog-detail-content .main-content .post-content .fp_col:last-child {
	padding: 10px 10px 10px 0;
}
main .section-blog-detail .container .blog-detail-content .main-content .box-reference {
	color: #000000;
	border: 1px solid #bfbfbf;
	border-radius: 8px;
}
main .section-blog-detail .container .blog-detail-content .main-content .box-reference .box-reference-header {
	display: flex;
	padding: 16px;
	cursor: pointer;
}
main .section-blog-detail .container .blog-detail-content .main-content .box-reference .box-reference-header .box-icon {
	font-size: 18px;
	margin-right: 12px;
	color: #000000;
}
main .section-blog-detail .container .blog-detail-content .main-content .box-reference .box-reference-header .title {
	font-size: 18px;
	margin-bottom: 0;
	text-transform: uppercase;
	color: #000000;
	font-family: "Montserrat SemiBold";
}
main .section-blog-detail .container .blog-detail-content .main-content .box-reference .box-reference-content {
	display: none;
	padding: 0 16px 16px;
	word-break: break-word;
}
body.en main .section-menu-category .container .list-cate ul li a {
	padding-right: 70px;
}
@media screen and (max-width: 1024px) {
	body.en main .section-menu-category .container .list-cate ul li a {
		padding-right: 15px;
	}
}
main.single-video .video-main {
	padding-bottom: 50px;
}
main.single-video .video-main .container .video-first-play {
	background: #f7f7f7;
	margin-bottom: 50px;
}
main.single-video .video-main .container .video-first-play .row .video-iframe {
	max-height: 470px;
}
main.single-video .video-main .container .video-first-play .row .video-iframe video {
	width: 100%;
	max-width: 100%;
}
main.single-video .video-main .container .video-first-play .row .video-iframe .video-js .vjs-big-play-button {
	font-size: 2.5em;
	height: 2.5em;
	width: 2.5em;
	border: 3px solid #fff;
	border-radius: 50%;
}
main.single-video .video-main .container .video-first-play .row .video-iframe .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
	top: 10px;
	font-size: 3rem;
}
main.single-video .video-main .container .video-first-play .row .video-iframe .my-video-dimensions.vjs-fluid:not(.vjs-audio-only-mode) {
	padding-top: 56.25%;
}
main.single-video .video-main .container .video-first-play .row .video-content {
	padding: 24px 24px 0 0;
	font-size: 16px;
	font-family: "Montserrat Regular";
	color: #333;
}
@media screen and (max-width: 991px) {
	main.single-video .video-main .container .video-first-play .row .video-content {
		padding: 15px;
	}
}
main.single-video .video-main .container .video-first-play .row .video-content h1 {
	font-size: 26px;
	font-family: "Montserrat Bold";
	line-height: 1.31;
	margin-bottom: 15px;
}
@media screen and (max-width: 1024px) {
	main.single-video .video-main .container .video-first-play .row .video-content h1 {
		font-size: 20px;
	}
}
main.single-video .video-main .container .video-first-play .row .video-content .video-author {
	text-align: right;
	font-family: "Montserrat Bold";
	color: #666;
}
main.single-video .video-main .container .video-first-play .row .video-content .video-time-publish {
	font-size: 14px;
	font-family: "Montserrat Regular";
	color: #999;
}
main.single-video .video-main .container .video-first-play .row .video-content .video-time-publish p a {
	text-decoration: none;
	color: #0075a9;
	font-size: 16px;
	margin-right: 10px;
	font-family: "Montserrat Bold";
}
main.single-video .video-main .container .video-first-play .row .video-content .video-time-publish p a:hover {
	text-decoration: underline;
}
main.single-video .video-main .container .video-first-play .row .video-content .video-share-social {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #ccc;
}
main.single-video .video-main .container .row .video-list {
	margin-bottom: 24px;
}
main.single-video .video-main .container .row .video-list .video-item .video-thumb a {
	display: block;
}
main.single-video .video-main .container .row .video-list .video-item .video-thumb a img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	main.single-video .video-main .container .row .video-list .video-item .video-thumb a img {
		max-height: 130px;
	}
}
@media screen and (min-width: 1180px) {
	main.single-video .video-main .container .row .video-list .video-item .video-thumb a img {
		max-height: 165px;
	}
}
main.single-video .video-main .container .row .video-list .video-item .video-title {
	margin: 12px 0;
}
main.single-video .video-main .container .row .video-list .video-item .video-title h3 {
	line-height: 1;
}
main.single-video .video-main .container .row .video-list .video-item .video-title h3 a {
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	color: #333;
	font-family: "Montserrat Regular";
}
main.single-video .video-main .container .row .video-list .video-item .video-title h3 a:hover {
	text-decoration: underline;
}
main.single-video .video-main .container .row .video-list .video-item .video-time-cate span {
	color: #999;
}
main.single-video .video-main .container .row .video-list .video-item .video-time-cate span a {
	color: #999;
	text-decoration: none;
}
main.single-video .video-main .container .row .video-list .video-item .video-time-cate span a:hover {
	text-decoration: underline;
}
main.single-video .video-main .container .row .video-list .video-item .video-time-cate span:first-child {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #999;
	font-family: "Montserrat Regular";
}
main.single-video .video-main .container #more_posts {
	text-align: center;
}
main.single-video .video-main .container #more_posts span {
	padding: 10px 25px;
	background: #0075a9;
	color: #fff;
	font-size: 18px;
	font-family: "Montserrat Medium";
	border-radius: 10px;
	cursor: pointer;
}
